<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static "css/blog.css"%}">
  </head>
  <body>
  <nav class="navbar navbar-default navbar-inverse">
<ul class="nav navbar-nav">
  <li><a href="/list">Blog</a></li>
  <li><a href="/add">Add Blog</a></li>
</ul>
  </body>
</html>
